# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Pc\Desktop\chilling\CodeWorld\Web Development projects\Laravel projects\Main Projects\Web based projects\shop-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
